.form_user{
    background-color: white;
    width: 270px;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    margin: auto;
    text-align: center;
}

.form_buy{
    background-color: white;
    width: 270px;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    margin: auto;
    text-align: center;
}

.comment_section{
    width: 400px;
    height: 300px;
    overflow-y: auto;
    border: solid;
    padding: 10px;
    margin: auto;
}

.comment{
    margin-bottom: 10px;
    border: solid;
    border-radius: 20px;
    padding: 5px;
}

